body{
    background-color: rgb(238, 238, 237);
    height: 100%;
    margin: 0;
    display: grid;
    place-items: center;
}
form{
    width: 40%;
    margin-top: 2%;
    padding: 2%;
    border: none;
    border-radius: 10px;
    padding-left: 3%;
    background-color: white;
    font-family: "Helvetica Neue", Arial, sans-serif;
}
h1{
    font-size: 40px;
}
input[type="file"]{
    width: 14.2%;
    border: none;
    margin-left: 75%;
}
img{
    width: 25%;
    height: 20vh;
    margin-top: -80%;
    margin-left: 70%;
    border-radius: 50%;
}
button a{
    text-decoration: none;
    color: white;
    font-size: 13px
}
.custom-upload-btn {
    width: 20%;
    background-color: cadetblue;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    margin-top: 1%;
    margin-left: 73%;
}

.custom-upload-btn:hover {
    background-color: rgb(50, 84, 85);
    transform: scale(0.95);
}

textarea{
    margin-top: 2.5%;
    width: 90%;
    height: 20vh;
    border-radius: 12px;
    padding: 2.5%;
    outline: none;
    font-size: 14px;
    font-family: Arial;
    font-weight: lighter;
}
form button{
    width: 20%;
    height: 40px;
    margin-top: 1.5%;
    border-radius: 8px;
    border: none;
    background: cadetblue;
    color: white;
    cursor: pointer;
}
form button:hover{
    background-color: rgb(50, 84, 85);
    transform: scale(0.95);
}
form input{
    width: 90%;
    height: 35px;
    padding: 1%;
    border: 1px solid grey;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
}
.user-posts{
    width: 88%;
    height: 85px;
    padding: 2%;
    margin-bottom: 1.5%;
    background: rgb(238, 238, 237);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0px 4.5px 0px rgb(44, 44, 54);
    cursor: pointer;
}
.user-posts:hover{
    box-shadow: 0 0px 6px 0px rgb(0, 0, 0);
}
.user-posts p{
    font-size: 19px;
    font-family: 'Segoe UI';
    font-weight: lighter;
}
.user-posts .date{
    font-size: 16px;
}
.error{
    color: red;
    font-weight: bold;
    font-style: italic;
}
/* - - - - Search Results - - - -  */
.result-area{
    width: 88%;
    height: px;
    padding: 1.5%;
    background: rgb(238, 238, 237);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0px 4.5px 0px rgb(44, 44, 54);
}
.result-area p{
    font-size: 18px;
    font-weight: lighter;
}
.result-area p:nth-child(1){
    margin-bottom: -3%;
}
.result-area button{
    margin-top: -2%;
}